.field-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.field-title, .error-message {
    display: flex;
    white-space: nowrap;
}

.content-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.message-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.1em;
    height: 1em;
}

.error-message {
    color: #b50000;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}