.driving-license-container {
    width: 120vh;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #c6e1ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.driving-license {
    box-sizing: border-box;
    width: 55%;
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}